.portfolio li{
    border: 0.3em solid black;
    background-color: #FAFFFC;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 1em;
    display: inline-block;
    width: 45%;
    box-sizing: border-box;
}
.portfolio img{
    width: 100%;
    box-shadow: 0 0 4px #000;
}